.newsFormatContainer {
  width: 100%;
  height: 1063px;
  background: #494949;
  border-radius: 18px;
  padding: 30px;
}

.newsLabel {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.newsInput {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.mediaContainer {
  width: 380px;
  height: 492px;
  background: #e9ad62;
  border-radius: 11px;
  padding: 30px;
}

.mediaTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 30px;
}

.blackContainer1 {
  display: flex;
  width: 172px;
  height: 128px;
  background: #000000;
  border-radius: 7px;
  align-items: center;
}

.blackContainer2 {
  display: flex;
  width: 272px;
  height: 128px;
  background: #000000;
  border-radius: 7px;
  align-items: center;
}

.mediaDescr {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.saveButton {
  width: 186px;
  height: 54px;
  border: 1.5px solid #ffffff;
  border-radius: 99px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  color: #ffffff;
  margin-right: 25px;
}

.cancelButton {
  width: 186px;
  height: 54px;
  border: 1.5px solid #ffffff;
  border-radius: 99px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background: #ffff;
  color: #494949;
}

textarea {
  padding: 20px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #a7a7a7;
  width: 786px;
  height: 278px;  
  outline: none;
}
